{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
{% load form_extras %}

{% block head_title %}{% trans "Sign In" context "page title" %}{% endblock %}

{% block account_content %}
{% get_providers as socialaccount_providers %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1>{% trans "Sign In" context "page heading" %}</h1>
      {% if socialaccount_providers %}
        <p>Primeira vez acessando o site? <b><a href="{{ signup_url }}">Cadastre-se aqui</a></b> ou faça login com  rede social.<br/>
        Já tem uma conta? Entre com seu email e senha abaixo ou faça login com rede social.</p>
      {% else %}
        {% if "omit_reg_link" in request.session %}
          {% comment %}Limpa possível sinal usado para omitir link de cadastro{% endcomment %}
          {% delsessionkey "omit_reg_link" %}
        {% else %}
          <p>Se ainda não tiver um cadastro, <b><a href="{{ signup_url }}">cadastre-se aqui</a></b>.</p>
        {% endif %}
      {% endif %}
    </div>

    <div class="modal-body">
      {% if socialaccount_providers %}
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}

      {% include "socialaccount/snippets/login_extra.html" %}

      <p style="text-align: center; margin:20px;">ou</p>
      {% endif %}

      <div class="container-fluid" style="text-align: -webkit-center;">
        <form class="login" method="POST" action="{% url 'account_login' %}" style="display: block; width: 90%; text-align: initial;">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions" style="margin-bottom: 30px;">
            <button class="btn btn-primary" type="submit">{% trans "Sign In" context "button" %}</button>
            <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
