{% extends "account/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Signup" context "page title" %}{% endblock %}

{% block account_content %}

<h1>{% trans "Sign Up" context "page heading" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button id="signup-btn" class="btn btn-primary" type="submit">{% trans "Sign Up" context "submit button" %}</button>
  </div>
</form>
{% comment %}
Garante que o form seja submetido apenas uma vez, 
evitando problemas com o duplo clique 
(duplicate key value violates unique constraint vol_usuario_email_key).
{% endcomment %}
<script>
$("#signup_form").one("submit", function() {
    $("#signup-btn").prop("disabled", true);
});
</script>

{% endblock %}
