.logo-img {
    padding-right: 15px;
}
.logo-cell {
    border-bottom: 2px solid #006600;
    padding-left: 15px;
    padding-right: 15px;
}
.logo-name {
    font-size: 24px;
    color: #006600;
}
.logo-url {
    font-size: 16px;
    color: #006600;
    text-align: center;
    padding-top: 5px;
}
.add-row {
    background: url(../images/misc/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
}
.delete-row {
    float: right;
    text-indent: -9999px;
    background: url(../images/misc/icon-deletelink.svg) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    border: 0px none;
    margin-left: 5px;
    margin-top: 5px;
}
#content p {
    margin-bottom: 20px; /* aumento no espaçamento entre linhas */
}
#content p.dica {
    margin-bottom: 5px; /* menos para as dicas */
}
@media (min-width: 768px) { /* mais espaço para que o último submenu não ultrapasse o limite da tela */
    #navbar-container {
	padding-right: 100px;
    }
}
.dica {
    font-size: 12px;
    font-weight: normal;
}
.destaque {
    color: #CC6600;
    font-weight: bold;
}
.nowrap {
    white-space: nowrap !important;
}
#form-voluntario #id_estado { /* não esticar combo de ufs */
    width: auto;
}
#form-voluntario #id_area_trabalho { /* não esticar combo de áreas de trabalho */
    width: auto;
}
/* não esticar combos de data de nascimento, deixando-os alinhados */
/* e não extrapolando o conjunto em telas pequenas */
#data_aniversario_container {
    white-space: nowrap;
}
#data_aniversario_label {
    display: block;
}
#id_data_aniversario_day {
    display: inline;
    width: auto;
}
#id_data_aniversario_month {
    display: inline;
    width: 110px;
}
#id_data_aniversario_year {
    display: inline;
    width: 70px;
}
#textslide {
    height:200px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/* --------------------------------------- */
#form-voluntario .combo-area-interesse {
    display: inline; /* não jogar remover na outra linha */
    width: 235px; /* não esticar combo de áreas de interesse, mas tb não deixar o remover extrapolar em telas pequenas */
}
.registro {
    margin-top: 30px;
}
#content .registro p {
    margin-bottom: 5px;
}
/* --------------------------------------- */
#map-canvas {
    margin-top: 60px;
    height: 400px;
}
#map-canvas img {
    max-width: none;
}
#pac-input {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 260px;
}
#pac-input:focus {
    border-color: #4d90fe;
}
/* --------------------------------------- */

/* -- alteracoes no main.css -- */
#home p{
  /*position: absolute;*/
  /*top: 150px;*/
  /*left: 0;*/
  /*width: 450px;*/
  /*margin-left: 100px;*/
  color: white;
  font-weight: 200;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
#home h1{
  /*margin-top: 70px;*/
  /*margin-bottom: 25px;*/
  color: white;
}
#home h1 span { 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   padding: 11px;
}
#home .btn-common {
  /*margin-top: 20px;*/
  color: #d29948;
  font-weight: 500;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
}
#home  
  .btn-common:hover, 
  .btn-common:focus{
    outline: none;
    /*background: none;*/
    box-shadow: none;
    color: white;
  }
#home #main-carousel h1 {
  margin-top: 22px;
}
#footer p {
  margin-bottom: 1px;
}
#footer a {
    color: maroon;
}
#footer a:hover {
    outline: none;
    text-decoration:none;
    color: #ff3300;
}
#map-legend img {
    margin-top: 10px;
}

/* ------ */
