{% extends "socialaccount/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

<p>Para finalizar o cadastro, preencha o formulário à seguir. Após a etapa de confirmação do e-mail, você já poderá acessar o site usando as credenciais da sua conta do {{provider_name}}:</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" context "submit button" %}</button>
</form>

{% endblock %}
