{% extends "vol/base_admin.html" %}

{% block title %}Revisão de voluntários{% endblock title %}

{% block content %}

{% if rec %}

<h1 class="margin-bottom">Voluntários aguardando revisão</h1>
<h3>( total: {{ total }} )</h3>

{% if error %}<p><font face="Verdana" size="2" color="red">{{ error|linebreaksbr }}</font></p>{% endif %}

<form action="" method="POST">{% csrf_token %}

<input type="hidden" name="id" value="{{ rec.id }}">
<input type="hidden" name="i" value="{{ i }}">

<table class="table table-striped" style="margin-top:30px;">
<thead>
<tr>
<th>&nbsp;</th>
<th>original</th>
<th>revisado</th>
</tr>
</thead>
<tbody>
<tr>
<td width="20%"><b>Nome:</b></td>
<td width="40%">{{ rec.usuario.nome }}</td>
<td width="40%"><input type="text" name="nome" value="{{ new_rec.usuario.nome }}" size="50"></td>
</tr>
<tr>
<td><b>E-mail:</b></td>
<td>{{ rec.usuario.email}}</td>
<td><input type="text" name="email" value="{{ new_rec.usuario.email }}" size="50"></td>
</tr>
<td><b>Nascimento:</b></td>
<td>{{ rec.data_aniversario|default:"" }}</td>
<td>(não editável)</td>
</tr>
<tr>
<td><b>Profissão:</b></td>
<td>{{ rec.profissao|default:""}}</td>
<td>{% if rec.profissao %}<input type="text" name="profissao" value="{{ new_rec.profissao }}" size="50">{% endif %}</td>
</tr>
<tr>
<td><b>Telefone:</b></td>
<td>{% if rec.ddd %}({{ rec.ddd}}){% endif %} {{ rec.telefone|default:""}}</td>
<td>{% if rec.ddd or rec.telefone %}<input type="text" name="ddd" value="{{ new_rec.ddd }}" size="5"> <input type="text" name="telefone" value="{{ new_rec.telefone }}">{% endif %}</td>
</tr>
<tr>
<td><b>Cidade:</b></td>
<td>{{ rec.cidade}}</td>
<td><input type="text" name="cidade" value="{{ new_rec.cidade }}" size="50"></td>
</tr>
<tr>
<td><b>Estado:</b></td>
<td>{{ rec.estado}}</td>
<td><input type="text" name="estado" value="{{ new_rec.estado }}" size="5"></td>
</tr>
<tr>
<td><b>Empresa:</b></td>
<td>{{ rec.empresa|default:""}}</td>
<td>{% if rec.empresa %}<input type="text" name="empresa" value="{{ new_rec.empresa }}" size="50">{% endif %}</td>
</tr>
<tr>
<td><b>Foi voluntario:</b></td>
<td>{%if rec.foi_voluntario %}sim{% else %}não{% endif %}</td>
<td>(não editável)</td>
</tr>
<tr>
<td><b>Entidade que ajudou:</b></td>
<td>{{ rec.entidade_que_ajudou|default:""}}</td>
<td>{% if rec.entidade_que_ajudou %}<input type="text" name="entidade_que_ajudou" value="{{ new_rec.entidade_que_ajudou }}" size="50">{% endif %}</td>
</tr>
<tr>
<td><b>Área de trabalho:</b></td>
<td>{{ rec.area_trabalho|default:""}}</td>
<td>(não editável)</td>
</tr>
<tr>
<td><b>Descrição:</b></td>
<td>{{ rec.descricao|default:""}}</td>
<td>{% if rec.descricao %}<textarea name="descricao" rows="4" cols="50">{{ new_rec.descricao }}</textarea>{% endif %}</td>
</tr>
</tbody>
</table>

<input type="submit" name="rejeitar" value="Rejeitar" class="btn btn-primary" style="margin: 0 20px; background-color: lightsalmon; color: black;"><input type="submit" name="aprovar" value="Aprovar" class="btn btn-primary" style="margin: 0 20px; background-color: lightgreen; color: black;">{% if not last %}<input type="submit" name="pular" value="Pular" class="btn btn-primary" style="margin: 0 20px; background-color: lightgrey; color: black;">{% endif %}

</form>

{% else %}

  <br/>
  {% if request.method == 'POST' %}
    <h1 class="margin-bottom">Revisão concluída. Obrigado por doar seu tempo a esta causa!</h1>
    {% if frase %}
      <h2>Reflexão do dia:</h2>
      <h3>"{{ frase.frase }}"<h3>
      <h3><i>{{ frase.autor }}</i><h3>
    {% endif %}
  {% else %}
    <h1 class="margin-bottom">Nenhum voluntário aguardando revisão</h1>
    <h3>Nada a fazer aqui no momento ;-)</h3>
  {% endif %}
{% endif %}

{% endblock content %}

