{% extends "vol/base_voluntario.html" %}

{% block title %}Convites{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Convites para processos seletivos</h1>

{% include "vol/mensagens.html" %}

{% if convites|length > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
  <thead><th>Vaga</th><th>Entidade</th><th>Status</th></thead>
  <tbody>
  {% for convite in convites %}
  <tr>
    <td><a href="{% url 'exibe_processo_seletivo' codigo_processo=convite.processo_seletivo.codigo %}">{{ convite.processo_seletivo.titulo }}</a></td>
    <td><a href="{% url 'exibe_entidade' id_entidade=convite.processo_seletivo.entidade.pk %}">{{ convite.processo_seletivo.entidade.menor_nome }}</td>
    <td>{{ convite.processo_seletivo.nome_status }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
  
{% else %}

  {% if request.user.voluntario.invisivel %}
    <p>Como você marcou no seu perfil de voluntário a opção de não aparecer em buscas, não há como receber convites sem ser visto.</p>
  {% else %}
    <p>Nenhum convite até o momento.</p>
  {% endif %}
{% endif %}

{% endblock content %}
