{% extends "vol/base_voluntario.html" %}

{% block content %}

<h1 class="margin-bottom">Entidades favoritas</h1>

{% if favoritas %}
<div class="table-responsive">
  <table class="table table-striped table-condensed">
  <tbody>
  {% for entidade in favoritas %}
    <tr><td><a href="{% url 'exibe_entidade' entidade.id %}">{{ entidade.menor_nome }}</a></td></tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% else %}
<p>Nenhuma entidade marcada como favorita. Se você gostar de alguma entidade cadastrada no site, pode marcá-la como favorita, podendo depois consultar aqui todas que foram marcadas. Faça uma <a href="{% url 'busca_entidades' %}">busca por entidades</a> cadastradas no site.</p>
{% endif %}

{% endblock content %}
