{% extends "vol/base.html" %}

{% block title %}Processo seletivo{% endblock title %}

{% block content %}

{% include "vol/mensagens.html" %}

<h1 class="margin-bottom">{{ processo.titulo }}</h1>

{% if processo.cancelado %}
<p class="lead text-danger">Atenção: este processo seletivo foi cancelado!</p>
{% elif processo.em_elaboracao %}
<p class="lead text-warning">&gt;&gt; Processo seletivo em elaboração! &lt;&lt;</p>
{% elif processo.aguardando_aprovacao %}
<p class="lead text-warning">&gt;&gt; Processo seletivo aguardando revisão! &lt;&lt;</p>
{% elif processo.aguardando_publicacao %}
<p class="lead text-warning">Aguarde: este processo seletivo ainda não está aberto a inscrições</p>
{% elif processo.aguardando_selecao %}
<p class="lead text-danger">Atenção: as inscrições já foram encerradas. Se você se inscreveu, acompanhe o resultado pela sua página de perfil de voluntário.</p>
{% elif processo.concluido %}
<p class="lead text-danger">Atenção: este processo seletivo já foi concluído.</p>
{% endif %}

<div class="registro">
  {% with areas_de_trabalho=processo.areas_de_trabalho %}
  {% if areas_de_trabalho %}
  <p><label>Área{% if ',' in areas_de_trabalho %}s{% endif %} de trabalho: </label> {{ areas_de_trabalho }}</p>
  {% endif %}
  {% endwith %}
  <p><label>Carga horária: </label> {{ processo.carga_horaria }}</p>
  <p><label>Modo de trabalho: </label> {{ processo.nome_modo_trabalho }} {% if not processo.trabalho_remoto %}<label style="margin-left: 10px;">Local: </label> {{ processo.cidade.nome }} - {{ processo.estado.sigla }}{% endif %}</p>
  <h3 class="secao"><span>Atividades</span></h3>
  <p>{{ processo.atividades|linebreaksbr }}</p>

  {% if processo.requisitos %}
  <h3 class="secao"><span>Requisitos</span></h3>
  <p>{{ processo.requisitos|linebreaksbr }}</p>
  {% endif %}

  <h3 class="secao"><span>Entidade: <a href="{% url 'exibe_entidade' id_entidade=processo.entidade_id %}" target="_blank">{{ processo.entidade.menor_nome }}</a></span></h3>
  <p>{{ processo.resumo_entidade|linebreaksbr }}</p>

  <h3 class="secao"><span>Inscrições</span></h3>
  <p><label>Prazo: </label> {{ processo.inicio_inscricoes|date:"SHORT_DATE_FORMAT" }}{% if processo.limite_inscricoes %} a {{ processo.limite_inscricoes|date:"SHORT_DATE_FORMAT" }}{% else %} sem data limite{% endif %}</p>
  {% if processo.previsao_resultado %}<p><label>Previsão de resultado: </label> {{ processo.previsao_resultado }}</p>{% endif %}
</div>

{% if processo.aberto_a_inscricoes %}
<form id="inscricao-processo-seletivo" method="POST" action="{% url 'inscricao_processo_seletivo' codigo_processo=processo.codigo %}">
    {% csrf_token %}
    <div class="form-group">
        {% if not inscricao or inscricao.desistiu %}
          {% if not request.user.is_voluntario %}
          {% comment %}O botão aparece mesmo quando o usuário não é voluntário. Nesses casos não tem sentido confirmar a inscrição, pois ela não será feita - o usuário será informado que precisa se cadastrar como voluntário.{% endcomment %}
          <input class="btn btn-primary" type="submit" name="inscrever"  value="Quero me inscrever">
          {% else %}
          {% comment %}Aqui sim a inscrição será feita, então vamos exibir a janela de confirmação{% endcomment %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirma-inscricao">Quero me {% if inscricao.desistiu %}re{% endif %}inscrever</button>
          <div class="modal" id="confirma-inscricao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">
                      {% if processo.somente_da_cidade and local_incompativel %}
                      Aviso
                      {% else %}
                      Confirmação
                      {% endif %}
                      </h4>
                  </div>
            
                  <div class="modal-body">
                    {% if local_incompativel %}
                      {% if processo.somente_da_cidade %}
                        <p>Ops, somente voluntários residentes em {{ processo.cidade }}, {{ processo.estado }}, podem se inscrever nesta vaga.</p>
                      {% else %}
                        <p>Atenção: Esta vaga exige <b>presença física na cidade de {{ processo.cidade }}, {{ processo.estado }}</b>, que é diferente da cidade onde você mora. Mesmo assim deseja fazer a inscrição??</p>
                      {% endif %}
                    {% else %}
                    <p>Legal que você quer se {% if inscricao.desistiu %}re{% endif %}inscrever! Você confirma a inscrição? Em breve você deverá receber diretamente da entidade as orientações necessárias.</p>
                    {% endif %}
                  </div>
                  
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Voltar</button>
                      {% if processo.somente_da_cidade and local_incompativel %}
                      {% comment %}Não exibe o botão para inscrição{% endcomment %}
                      {% else %}
                      <button type="submit" class="btn btn-primary" name="inscrever">Sim, quero me {% if inscricao.desistiu %}re{% endif %}inscrever</button>
                      {% endif %}
                  </div>
               </div>
            </div>
          </div>
        {% endif %}
        {% else %}
          {% if inscricao.passivel_de_desistencia %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancela-inscricao">Cancelar inscrição</button>
          <div class="modal" id="cancela-inscricao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                  </div>
            
                  <div class="modal-body">
                    <p>Tem certeza que deseja cancelar sua inscrição?</p>

                    <p>Se possível, conte pra gente o motivo:</p>
                    <textarea name="motivo" cols="20" rows="5" class="form-control" id="id_motivo"></textarea>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Voltar</button>
                      <button type="submit" class="btn btn-danger" name="desistir">Sim, quero cancelar minha inscrição</button>
                  </div>
               </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
    </div>
</form>
{% endif %}

{% endblock content %}
