{% extends "vol/base_nosidebar.html" %}

{% block description %}{% if entidade.razao_social %}{{ entidade.razao_social }}{% endif %}{% endblock description %}

{% block title %}{% if entidade.nome_fantasia %}{{ entidade.nome_fantasia }}{% else %}Entidade{% endif %}{% endblock title %}

{% block content %}

{% url 'lista_processos_entidade' entidade.id as lista_processos_entidade %}

{% if user.is_authenticated and entidade in user.entidades %}
<a href="{% url 'cadastro_entidade_id' entidade.id %}"><h2>{{ entidade.nome_fantasia|default:entidade.razao_social }}{% if request.user.is_voluntario %} <i id="icone-favorito" class="fas fa-heart{% if favorita %} fill{% endif %}" title="{% if favorita %}Remover entidade das favoritas{% else %}Marcar entidade como favorita{% endif %}"></i>{% endif %}</h2></a>
{% else %}
<h2 class="nome-entidade">{{ entidade.nome_fantasia|default:entidade.razao_social }}{% if request.user.is_voluntario %} <i id="icone-favorito" class="fas fa-heart{% if favorita %} fill{% endif %}" title="{% if favorita %}Remover entidade das favoritas{% else %}Marcar entidade como favorita{% endif %}"></i>{% endif %}</h2>
{% endif %}
 
<div class="registro">

<p><label>Razão Social:</label> {{ entidade.razao_social }}</p>

{% if entidade.cnpj_valido %}
<p><label>CNPJ:</label> <a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/Cnpjreva_Solicitacao.asp?cnpj={{ entidade.cnpj_puro }}" target="_blank" title="Cartão de CNPJ">{{ entidade.cnpj }}</a></p>
{% endif %}

<p><label>Área de Atuação:</label> {{ entidade.area_atuacao.nome|default:"-" }}</p>
{% if entidade.fundacao %}<p><label>Fundação:</label> {{ entidade.fundacao|date:"d/m/Y" }}</p>{% endif %}
{% if entidade.descricao %}<p class="text-justify"><label>Descrição:</label> <br/>{{ entidade.descricao|linebreaksbr }}<br/><br/></p>{% endif %}
{% if entidade.nome_resp %}<p><label>Responsável:</label> {{ entidade.nome_resp|default:"-" }} {{ entidade.sobrenome_resp }}</p>{% endif %}
<h3 class="secao-entidade"><span>Mais informações & contato</span></h3>

{% if entidade.cidade or entidade.estado %}
<p><i class="fas fa-home" style="vertical-align: top;" title="endereço"></i>
<span style="display: inline-block;">{% if entidade.logradouro %}{{ entidade.logradouro }} {% endif %}{% if entidade.logradouro and entidade.bairro %}<br>{% endif %}{{ entidade.bairro|default:"" }}{% if entidade.logradouro or entidade.bairro %}<br>{% endif %}{% if entidade.cep %}CEP {{ entidade.cep }}<br>{% endif %}{{ entidade.cidade|default:"" }}{% if entidade.cidade and entidade.estado %} - {% endif %}{{ entidade.estado|default:"" }}</span>
</p>
{% endif %}

{% if entidade.nome_contato %}<p><i class="fas fa-user" title="contato"></i> {{ entidade.nome_contato|default:"-" }}</p>{% endif %}
{% if entidade.telefones %}<p><i class="fas fa-phone" title="telefone"></i> {{ entidade.telefones }}{% endif %}
{% if entidade.emails_confirmados %}<p><i class="fas fa-envelope" title="e-mail"></i> {{ entidade.emails_confirmados|safe }}</a></p>{% endif %}
{% if entidade.website %}<p><i class="fas fa-globe" title="website"></i> <a href="{% if entidade.website|length > 4 and entidade.website|slice:":4" != 'http' %}http://{% endif %}{{ entidade.website }}" target="_blank">{{ entidade.website }}</a></p>{% endif %}
{% if entidade.facebook %}<p><i class="fab fa-facebook" title="Facebook"></i> <a href="{% if entidade.facebook|length > 4 and entidade.facebook|slice:":4" != 'http' %}http://{% endif %}{{ entidade.facebook }}" target="_blank">{{ entidade.facebook }}</a></p>{% endif %}
{% if entidade.instagram %}<p><i class="fab fa-instagram" title="Instagram"></i> <a href="https://www.instagram.com/{% if entidade.instagram|slice:":1" == '@' %}{{ entidade.instagram|slice:"1:" }}{% else %}{{ entidade.instagram }}{% endif %}" target="_blank">{{ entidade.instagram }}</a></p>{% endif %}
{% if entidade.twitter %}<p><i class="fab fa-twitter" title="Twitter"></i> <a href="{% if entidade.twitter|length > 4 and entidade.twitter|slice:":4" != 'http' %}https://twitter.com/{% endif %}{{ entidade.twitter }}" target="_blank">{{ entidade.twitter }}</a></p>{% endif %}
{% if entidade.youtube %}<p><i class="fab fa-youtube" title="Youtube"></i> <a href="{% if entidade.youtube|length > 4 and entidade.youtube|slice:":4" != 'http' %}http://{% endif %}{{ entidade.youtube }}" target="_blank">{{ entidade.youtube }}</a></p>{% endif %}
{% for doc in entidade.documento_set.all %}{% if doc.tipodoc.codigo == 'folder' %}<p><i class="fas fa-download" title="folder"></i> <a href="{{ doc.doc.url }}">{{ doc.tipodoc.nome|lower }}</a>{% endif %}{% endfor %}
</div>

<h3 class="secao-entidade"><span>Processos seletivos</span></h3>
{% if processos_abertos %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
  <tbody>
  {% for processo in processos_abertos %}
  <tr>
    <td><a href="{% url 'exibe_processo_seletivo' codigo_processo=processo.codigo %}">{{ processo.titulo }}</a></td>
    <td>inscrições: {{ processo.inicio_inscricoes|date:"SHORT_DATE_FORMAT" }} a {% if processo.limite_inscricoes %}{{ processo.limite_inscricoes|date:"SHORT_DATE_FORMAT" }}{% else %}?{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
   
{% else %}
<p>No momento não há processos seletivos abertos para esta entidade.</p>
{% endif %}

{% with doacoes=entidade.necessidadeartigo_set.all %}
{% if doacoes %}
<h3 class="secao-entidade"><span>Artigos aceitos como doação</span></h3>
<p>{% for necessidade in doacoes %}{{ necessidade.tipoartigo }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% if entidade.obs_doacoes %}<p>Obs: {{ entidade.obs_doacoes }}</p>{% endif %}
{% endif %}
{% endwith %}
{% if necessidades %}
<h3 class="secao-entidade"><span>Pedidos recentes de serviço/doação</span></h3>
<div class="table-responsive">
<table class="table table-striped table-condensed">
<thead>
<th>qtde</th>
<th>descrição</th>
<th>data</th>
</thead>
<tbody>
{% for necessidade in necessidades %}
<tr>
<td>{{ necessidade.qtde_orig|default:'1' }}</td>
<td>{{ necessidade.descricao }}</td>
<td>{{ necessidade.data_solicitacao|date:'j F' }} de {{ necessidade.data_solicitacao|date:'Y' }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<br>
{% endif %}

<!-- p class="dica">[{{ agora|date:"l" }}, {{ agora|date:"j" }} de {{ agora|date:"F" }} de {{ agora|date:"Y" }} às {{ agora|time:"H:i:s" }}]</p -->

{% if user.is_authenticated %}
  {% if entidade in user.entidades %}
  <br/>
  <a href="{% url 'cadastro_entidade_id' entidade.id %}" class="btn btn-primary">Editar cadastro</a>
  {% else %}
    {% if entidade.has_valid_email and entidade.email_principal_confirmado and entidade.email_principal_sem_problema and not entidade.gerenciada %}
    <br/>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-action">Gerenciar cadastro desta entidade</button>
    <br/>
    <span class="dica">(será necessário ter acesso ao e-mail da entidade para comprovar vínculo com ela)</span>

    <div class="modal" id="confirm-action" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Atenção</h4>
            </div>
            
            <div class="modal-body">
              <p>Este procedimento só deve ser usado por alguém que possa se tornar responsável pela entidade no sistema. Tem certeza que deseja enviar uma mensagem para esta entidade solicitando a confirmação do seu vínculo com ela?</p>
	      <p class="dica">Caso queira apenas sugerir alterações no cadastro, responda "não" e entre em contato conosco no e-mail ao final da página indicando as alterações.</p>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <a href="{% url 'envia_confirmacao_vinculo' entidade.id %}" class="btn btn-primary btn-ok">Sim</a>
            </div>
         </div>
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endif %}

<script type="text/javascript">

  $("#icone-favorito").click(function() {

      $.ajax({
          url: "{% url 'alternar_entidade_favorita' %}",
          data: {
            entidade_id : {{ entidade.id }},
          },
          success: function(response) {
              $("#icone-favorito").toggleClass("fill");
              if ($("#icone-favorito").hasClass("fill")) {
                  $("#icone-favorito").attr('title', 'Remover entidade das favoritas');
              } else {
                  $("#icone-favorito").attr('title', 'Marcar entidade como favorita');
              }
          },
          error: function(xhr, errmsg, err) {
            console.log('Erro ao alternar entidade favorita: ', errmsg);
          }
      });
  });

</script>

{% endblock content %}
