{% extends "vol/base.html" %}

{% block title %}Voluntário{% endblock title %}

{% block content %}

<h2>{{ voluntario.usuario.nome }}</h2>
<div class="registro">
<p><label>Nome:</label> {{ voluntario.usuario.nome }}</p>
<p><label>Nascimento:</label> {% if voluntario.data_aniversario %}{{ voluntario.data_aniversario|date:"d/m/Y" }}{% else %}{{ voluntario.data_aniversario_orig }}{% endif %}</p>
<p><label>Área de Trabalho:</label> {{ voluntario.area_trabalho.nome|default:"-" }}</p>
<p><label>Profissão:</label> {{ voluntario.profissao|default:"-" }}</p>
<p><label>E-mail:</label> {{ voluntario.usuario.email|default:"-" }}</p>
<p><label>Telefone:</label> {% if voluntario.telefone %}({{ voluntario.ddd }}){{ voluntario.telefone }}{% else %}-{% endif %}</p>
<p><label>Cidade:</label> {{ voluntario.cidade|default:"-" }}</p>
<p><label>Estado:</label> {{ voluntario.estado|default:"-" }}</p>
<p><label>Área{% if areas_de_interesse.count > 1 %}s{% endif %} em que gostaria de voluntariar:</label> {% if areas_de_interesse.count == 0 %}-{% else %}{% for area_de_interesse in areas_de_interesse %}{% if forloop.counter0 > 0 %}, {% endif %}{{ area_de_interesse.area_atuacao.nome }}{% endfor %}{% endif %}</p>
{% if voluntario.foi_voluntario != None %}
<p><label>Já fez trabalho voluntário:</label> {% if voluntario.foi_voluntario %}sim{% if voluntario.entidade_que_ajudou %} <br/><label>Entidade(s) que ajudou:</label> {{ voluntario.entidade_que_ajudou }}{% endif %}{% else %}não{% endif %}</p>
{% endif %}
{% if voluntario.descricao %}
<p><label>Comentário:</label> {{ voluntario.descricao }}</p>
{% endif %}
<p><label>Última atualização no cadastro:</label> {{ voluntario.ultima_atualizacao|date:"F" }}/{{ voluntario.ultima_atualizacao|date:"Y" }}</p>
</div>
<br>
<p class="dica">[{{ agora|date:"l" }}, {{ agora|date:"j" }} de {{ agora|date:"F" }} de {{ agora|date:"Y" }} às {{ agora|time:"H:i:s" }}]</p>

{% endblock content %}
