{% extends "vol/base.html" %}

{% block title %}Processo seletivo{% endblock title %}

{% block content %}

{% include "vol/mensagens.html" %}

<h1 class="margin-bottom">{{ processo.titulo }}</h1>

{% if processo.cancelado %}
<p class="lead text-danger">Atenção: este processo seletivo foi cancelado pela própria entidade.</p>
{% elif processo.em_elaboracao %}
<p class="lead text-warning">&gt;&gt; Processo seletivo em elaboração! &lt;&lt;</p>
{% elif processo.aguardando_aprovacao %}
<p class="lead text-warning">&gt;&gt; Processo seletivo aguardando revisão! &lt;&lt;</p>
{% elif processo.aguardando_publicacao %}
<p class="lead text-warning">Aguarde: este processo seletivo ainda não está aberto a inscrições</p>
{% elif processo.aguardando_selecao %}
<p class="lead text-danger">Atenção: as inscrições já foram encerradas. Se você se inscreveu, acompanhe o resultado pela sua página de perfil de voluntário.</p>
{% elif processo.concluido %}
<p class="lead text-danger">Atenção: este processo seletivo já foi concluído.</p>
{% endif %}

<div class="registro">
  {% with areas_de_trabalho=processo.areas_de_trabalho %}
  {% if areas_de_trabalho %}
  <p><label>Área(s) de trabalho: </label> {{ areas_de_trabalho }}</p>
  {% endif %}
  {% endwith %}
  <p><label>Carga horária: </label> {{ processo.carga_horaria }}</p>
  <p><label>Modo de trabalho: </label> {{ processo.nome_modo_trabalho }} {% if not processo.trabalho_remoto %}<label style="margin-left: 10px;">Local: </label> {{ processo.cidade }} - {{ processo.estado }}{% endif %}</p>
  <h3 class="secao"><span>Atividades</span></h3>
  <p>{{ processo.atividades }}</p>

  {% if processo.requisitos %}
  <h3 class="secao"><span>Requisitos</span></h3>
  <p>{{ processo.requisitos }}</p>
  {% endif %}

  <h3 class="secao"><span>Entidade: <a href="{% url 'exibe_entidade' id_entidade=processo.entidade_id %}" target="_blank">{{ processo.entidade.menor_nome }}</a></span></h3>
  <p>{{ processo.resumo_entidade }}</p>

  <h3 class="secao"><span>Inscrições</span></h3>
  <p><label>Prazo: </label> {{ processo.inicio_inscricoes|date:"SHORT_DATE_FORMAT" }}{% if processo.limite_inscricoes %} a {{ processo.limite_inscricoes|date:"SHORT_DATE_FORMAT" }}{% else %} sem data limite{% endif %}</p>
  {% if processo.previsao_resultado %}<p><label>Previsão de resultado: </label> {{ processo.previsao_resultado }}</p>{% endif %}
</div>

{% if processo.aberto_a_inscricoes %}
<form id="inscricao-processo-seletivo" method="POST" action="{% url 'inscricao_processo_seletivo' codigo_processo=processo.codigo %}">
    {% csrf_token %}
    <div class="form-group">
        {% if not inscricao %}
        <input class="btn btn-primary" type="submit" name="inscrever"  value="Quero me inscrever">
        {% else %}
          {% if inscricao.passivel_de_desistencia %}
          <input class="btn btn-danger" type="submit" name="desistir"  value="Cancelar inscrição">
          {% endif %}
        {% endif %}
    </div>
</form>
{% endif %}

{% endblock content %}
