{% extends "vol/base_nosidebar.html" %}
{% load static %}

{% block title %}Novo processo seletivo{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Novo processo seletivo</h1>

{% include "vol/mensagens.html" %}

{% include "vol/erros.html" %}

<label class="nowrap">Entidade: </label> {{ entidade.razao_social|default:entidade.nome_fantasia }}
<hr>
<form id="form-processo-seletivo" method="post">
    {% csrf_token %}
    {% include "vol/campo_formulario.html" with campo=form.titulo required=True %}
    {% include "vol/campo_formulario.html" with campo=form.resumo_entidade required=False %}
    {% include "vol/campo_formulario.html" with campo=form.modo_trabalho required=True %} 
    {% include "vol/campo_formulario.html" with campo=form.estado_trabalho required=False %}
    {% include "vol/campo_formulario.html" with campo=form.cidade_trabalho required=False %}
    {% include "vol/campo_formulario.html" with campo=form.atividades required=True %}
    {% include "vol/campo_formulario.html" with campo=form.carga_horaria required=True %}
    {% include "vol/campo_formulario.html" with campo=form.requisitos required=False %}
    {% include "vol/campo_formulario.html" with campo=form.inicio_inscricoes required=False div_class="combo-data" %}
    {% include "vol/campo_formulario.html" with campo=form.limite_inscricoes required=False div_class="combo-data" %}
    {% include "vol/campo_formulario.html" with campo=form.previsao_resultado required=False div_class="combo-data" %}

    <div class="form-group">
        <input class="btn btn-primary" type="submit" name="submit"  value="Enviar">
      </div>
</form>

{% endblock content %}
