{% extends "vol/base_entidade.html" %}
{% load static %}

{% block title %}{% if not processo or processo.em_elaboracao %}Novo p{% else %}P{% endif %}rocesso seletivo{% endblock title %}

{% block head %}

<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

{% if processo.editavel %}
{% comment %}É esse código que acrescenta os ícones de edição no formset{% endcomment %}
<script type="text/javascript">

    $(function() {
        $('.formset').formset({deleteText: 'remover', addText: 'incluir outra área'});
    })

</script>
{% endif %}

{% endblock head %}

{% block content %}

<h1 class="margin-bottom">{% if not processo %}Novo p{% else %}P{% endif %}rocesso seletivo</h1>

{% if num_inscricoes > 1 %}
<p>Atenção: existem <a href="{% url 'inscricoes_processo_seletivo' id_entidade=processo.entidade_id codigo_processo=processo.codigo %}">{{ num_inscricoes }} inscrições</a> que já podem ser consultadas.</p>
{% endif %}

{% include "vol/mensagens.html" %}

{% include "vol/erros.html" %}

<form id="form-processo-seletivo" method="post">
    {% csrf_token %}
    {% include "vol/campo_formulario.html" with campo=form.titulo required=True %}
    {% include "vol/campo_formulario.html" with campo=form.resumo_entidade required=False %}
    {% include "vol/campo_formulario.html" with campo=form.modo_trabalho required=True %} 
    {% include "vol/campo_formulario.html" with campo=form.estado required=False div_id="estado" invisible=form.instance.trabalho_remoto %}
    {% include "vol/campo_formulario.html" with campo=form.cidade required=False div_id="cidade" invisible=form.instance.trabalho_remoto loader=True %}
    
    <div class="form-group required{% if form.area_trabalho.errors %} has-error{% endif %}">
      <label for="id_area_trabalho" class="nowrap">* Área de trabalho do voluntário</label>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        {% for subform in area_trabalho_formset.forms %}
        <tr class="formset">
          <td>{{ subform.area_trabalho }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {{ area_trabalho_formset.management_form }}
    </div>

    {% include "vol/campo_formulario.html" with campo=form.atividades required=True %}
    {% include "vol/campo_formulario.html" with campo=form.carga_horaria required=True %}
    {% include "vol/campo_formulario.html" with campo=form.requisitos required=False %}
    {% include "vol/campo_formulario.html" with campo=form.inicio_inscricoes required=False div_class="combo-data" %}
    {% include "vol/campo_formulario.html" with campo=form.limite_inscricoes required=False div_class="combo-data" %}
    {% include "vol/campo_formulario.html" with campo=form.previsao_resultado required=False div_class="combo-data" %}

    {% if not processo or processo.editavel or processo.passivel_de_antecipar_inscricoes or processo.passivel_de_estender_inscricoes %}
    <div class="form-group">
        <input class="btn btn-primary" type="submit" name="gravar"  value="Gravar">
        {% if processo.em_elaboracao %}
        <input class="btn btn-primary" type="submit" name="solicitar_aprovacao"  value="Solicitar aprovação">
	{% endif %}
    </div>
    {% endif %}
</form>

{% endblock content %}

{% block post_footer %}

<script type="text/javascript" src="{% if debug %}{% static 'js/vol-combo-estado-cidade-1.1.debug.js' %}{% else %}{% static 'js/vol-combo-estado-cidade-1.1.min.js' %}{% endif %}"></script>

<script type="text/javascript">

    // Parâmetros: url que retorna cidades de um estado,
    //             necessidade de inclusão de opção vazia no combo estado,
    //             cidade default
    init_combos_estado_cidade('{% url 'retorna_cidades' %}', {% if form.instance.id and not form.instance.estado %}true{% else %}false{% endif %}, '{% if form.instance.cidade.nome %}{{ form.instance.cidade.nome }}{% else %}{% if form.initial.cidade %}{{ form.initial.cidade.nome }}{% endif %}{% endif %}');

    // Controle de exibição de estado/cidade
    function controla_exibicao_de_local() {
        if ($("#id_modo_trabalho").val() !== "0") {
            $("#estado").show();
            $("#cidade").show();
            return false;
        } 
        else {
            $("#estado").hide();
            $("#cidade").hide();
        }
    }

    $("#id_modo_trabalho").change(function() {
        controla_exibicao_de_local();
    });

    $(document).ready(function() {
        controla_exibicao_de_local();
    });

</script>

{% endblock post_footer %}
