{% extends "vol/base_nosidebar.html" %}

{% block title %}Cadastro de Entidade{% endblock title %}

{% block content %}

<h1 class="margin-bottom">{% if form.instance.id %}Cadastro de Entidade{% else %}Nova Entidade{% endif %}</h1>

{% include "vol/mensagens.html" %}

{% include "vol/erros.html" %}

<form id="form-entidade" method="POST" action="">{% csrf_token %}

{% include "vol/campo_formulario.html" with campo=form.nome_fantasia %}
{% include "vol/campo_formulario.html" with campo=form.razao_social %}
{% include "vol/campo_formulario.html" with campo=form.cnpj %}
{% include "vol/campo_formulario.html" with campo=form.area_atuacao %}
{% include "vol/campo_formulario.html" with campo=form.descricao %}
{% include "vol/campo_formulario.html" with campo=form.num_vol %}
{% include "vol/campo_formulario.html" with campo=form.num_vol_ano %}

{% include "vol/campo_formulario.html" with campo=form.website %}

<fieldset>
<legend>Responsável</legend>
{% include "vol/campo_formulario.html" with campo=form.nome_resp %}
{% include "vol/campo_formulario.html" with campo=form.sobrenome_resp %}
{% include "vol/campo_formulario.html" with campo=form.cargo_resp %}
</fieldset>

<fieldset>
<legend>Endereço</legend>
{% include "vol/campo_formulario.html" with campo=form.cep %}
{% include "vol/campo_formulario.html" with campo=form.logradouro %}
{% include "vol/campo_formulario.html" with campo=form.bairro %}
{% include "vol/campo_formulario.html" with campo=form.cidade %}
{% include "vol/campo_formulario.html" with campo=form.estado %}
</fieldset>

<fieldset>
<legend>Contato</legend>
<table width="100%">
 <tr> 
  <td width="10%">
   {% include "vol/campo_formulario.html" with campo=form.ddd %}
  </td>
  <td width="90%" style="padding-left: 10px;">
   {% include "vol/campo_formulario.html" with campo=form.telefone %}
  </td>
 </tr>
</table>

{% include "vol/campo_formulario.html" with campo=form.email %}
{% include "vol/campo_formulario.html" with campo=form.nome_contato %}
</fieldset>

<div class="form-group">
  <input class="btn btn-primary" type="submit" name="submit" value="{% if form.instance.id %}Gravar alterações{% else %}Cadastrar{% endif %}">
  {% if form.instance.id %}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Remover</button>
  {% endif %}
</div>

{% if form.instance.id %} 
<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
            
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Confirme a remoção</h4>
        </div>
            
        <div class="modal-body">
            <p>Tem certeza que deseja remover esta entidade?</p>
        </div>
                
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            <input class="btn btn-danger btn-ok" type="submit" name="delete" value="Sim">
        </div>
     </div>
  </div>
</div>
{% endif %}

</form>

{% endblock content %}
