{% extends "vol/base_nosidebar.html" %}
{% load staticfiles %}

{% block title %}Cadastro de Voluntário{% endblock title %}

{% block head %}

<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('.formset').formset({deleteText: 'remover', addText: 'escolher mais uma área'});
    })
</script>

{% endblock head %}

{% block content %}
<h1 class="margin-bottom">{%if request.user.is_voluntario %}Cadastro de Voluntário{% else %}Cadastre-se como Voluntário{% endif %}</h1>

{% include "vol/mensagens.html" %}

{% include "vol/erros.html" %}

<form id="form-voluntario" method="POST" action="">{% csrf_token %}

{% include "vol/campo_formulario.html" with campo=form.data_aniversario div_id="data_aniversario_container" label_id="data_aniversario_label" %}
<table width="100%">
 <tr> 
  <td width="10%">
   {% include "vol/campo_formulario.html" with campo=form.ddd %}
  </td>
  <td width="90%" style="padding-left: 10px;">
   {% include "vol/campo_formulario.html" with campo=form.telefone %}
  </td>
 </tr>
</table>
{% include "vol/campo_formulario.html" with campo=form.cidade %}
{% include "vol/campo_formulario.html" with campo=form.estado %}
{% include "vol/campo_formulario.html" with campo=form.profissao %}
{% include "vol/campo_formulario.html" with campo=form.empresa %}
{% include "vol/campo_formulario.html" with campo=form.foi_voluntario label="Já foi Voluntário?" after_field="sim" %}
{% include "vol/campo_formulario.html" with campo=form.entidade_que_ajudou label="Se sim, para qual Entidade?" %}

  <div class="form-group required{% if form.area_trabalho.errors %} has-error{% endif %}">
    <label for="{{ form.area_trabalho.id_for_label }}" class="nowrap">{{ form.area_trabalho.label }}</label>
    <p class="dica">Escolha a op&ccedil;&atilde;o que mais se aproxima do seu trabalho. Se quiser sugerir uma nova &aacute;rea de trabalho, envie um e-mail para <a href="mailto:{{ EMAIL_CONTATO }}">{{ EMAIL_CONTATO }}</a></p>
    {% if form.area_trabalho.errors %}{{ form.area_trabalho.errors }}{% endif %}
    {{ form.area_trabalho }}
    {% if form.area_trabalho.help_text %}<p class="help-block dica">{{ form.area_trabalho.help_text }}</p>{% endif %}
  </div>

  <div class="form-group required{% if form.area_interesse.errors %} has-error{% endif %}">
    <label for="{{ form.area_interesse.id_for_label }}" class="nowrap">{{ form.area_interesse.label }}</label>
    <p class="dica">Escolha a &aacute;rea em que mais gostaria de exercer uma atividade volunt&aacute;ria.</p>
    <table border="0" cellpadding="0" cellspacing="0">
     <tbody>
     {% for form in area_interesse_formset.forms %}
       <tr class="formset">
         <td>{{ form.area_atuacao }}</td>
       </tr>
     {% endfor %}
     </tbody>
    </table>
    {{ area_interesse_formset.management_form }}
  </div>

  <div class="form-group required{% if form.descricao.errors %} has-error{% endif %}">
   <p>Descreva o que voc&ecirc; poderia fazer:</p>
    {{ form.descricao }}
  </div>

  <div class="form-group">
   <input id="save" class="btn btn-primary" type="submit" name="save" value="{% if request.user.is_voluntario %}Gravar{% else %}Enviar{% endif %}">

   {% if request.user.is_voluntario %} 
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Remover</button>

    <div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirme a remoção</h4>
            </div>
            
            <div class="modal-body">
                <p>Tem certeza que deseja remover o perfil de voluntário?</p>
            </div>
                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <input class="btn btn-danger btn-ok" type="submit" name="delete" value="Sim">
            </div>
         </div>
      </div>
    </div>
   {% endif %}

  </div>

</form>
{% comment %}
Garante que o form seja submetido apenas uma vez, 
evitando problemas com o duplo clique 
{% endcomment %}
<script type="text/javascript">

    $("#form-voluntario").one("submit", function() {
        $("#save").prop("disabled", true);
    });

</script>

{% endblock content %}
