{% extends "vol/base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% block title %}Campanha Seja um Voluntário{% endblock title %}

{% block content_container %}

    <section id="home">
        <div id="main-carousel" class="carousel slide" data-ride="carousel" data-pause="null"> 
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('{{ slide }}')">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8 text-center banner">
                                <h1>Somos Voluntários</h1>
                                {% comment %}
                                Não está logado ou não é voluntário e nem possui entidade:
                                [ Quero ser voluntário ] [ Preciso de voluntários ]
                                É voluntário e não possui entidade:
                                [ Procurar vagas ] [ Procurar entidades ]
                                É voluntário e possui entidade:
                                [ Procurar vagas ] [ Gerenciar vagas ]
                                Não é voluntário e possui entidade:
                                [ Gerenciar vagas ] [ Quero ser voluntário ]
                                {% endcomment %}
                                {% if request.user.is_authenticated %}
                                  <p>Que bom que você já está com a gente!</p>
                                  {% if request.user.is_voluntario %}
                                    <a class="btn btn-common" href="{% url 'busca_vagas' %}" rel="nofollow">Procurar vagas</a>
                                    {% if request.user.has_entidade %}
                                      <a class="btn btn-common" href="{% url 'lista_entidades_vinculadas' %}" rel="nofollow">Gerenciar vagas</a>
                                    {% else %}
                                      <a class="btn btn-common" href="{% url 'busca_entidades' %}" rel="nofollow">Procurar entidades</a>
                                    {% endif %}
                                  {% else %}
                                    {% if request.user.has_entidade %}
                                      <a class="btn btn-common" href="{% url 'lista_entidades_vinculadas' %}" rel="nofollow">Gerenciar vagas</a>
                                      <a class="btn btn-common" href="{% url 'link_voluntario_novo' %}" rel="nofollow">Quero ser voluntário</a>
                                    {% else %}
                                      <a class="btn btn-common" href="{% url 'link_voluntario_novo' %}" rel="nofollow">Quero ser voluntário</a>
                                      <a class="btn btn-common" href="{% url 'link_entidade_nova' %}" rel="nofollow">Preciso de voluntários</a>
                                    {% endif %}
                                  {% endif %}
                                {% else %}
                                  <p>Você também pode fazer parte deste movimento!</p>
                                  <a class="btn btn-common" href="{% url 'link_voluntario_novo' %}" rel="nofollow">Quero ser voluntário</a>
                                  <a class="btn btn-common" href="{% url 'link_entidade_nova' %}" rel="nofollow">Preciso de voluntários</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
            </div><!--/.carousel-inner-->
        </div>
    </section><!--/#home-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'busca_entidades' %}"><img src="{% static 'images/home/busca-peq.png' %}" alt="busca"></a>
                        <a href="{% url 'busca_entidades' %}"><h2>Busca de Entidades</h2></a>
                        <p>Procure por entidades que podem precisar de voluntários. Utilize vários critérios na busca, como cidade, bairro e área de atuação.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'busca_vagas' %}"><img src="{% static 'images/home/processos-peq.png' %}" alt="vagas"></a>
                        <a href="{% url 'busca_vagas' %}"><h2>Vagas disponíveis</h2></a>
                        <p>Consulte processos seletivos em aberto para vagas de trabalho voluntário e se inscreva. Utilize critérios como presencial/remoto, área de atuação, etc.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'mapa_entidades' %}"><img src="{% static 'images/home/gmaps-brasil-peq.png' %}" alt="mapa"></a>
                        <a href="{% url 'mapa_entidades' %}"><h2>Mapa de Entidades</h2></a>
                        <p>Veja onde se localizam as entidades cadastradas no sistema. Digite um endereço para encontrar aquelas que estão mais próximas de você.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'link_entidade_nova' %}" rel="nofollow"><img src="{% static 'images/home/cadastro-peq.png' %}" alt="cadastro"></a>
                        <a href="{% url 'link_entidade_nova' %}" rel="nofollow"><h2>Cadastro de Entidades</h2></a>
                        <p>Gestor, cadastre sua entidade aqui, aumentando a visibilidade da instituição para pessoas interessadas em colaborar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action">
             <div class="container">
                <div class="row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Guia do voluntariado</span></h1>
                            <p>Preparamos um guia respondendo às principais dúvidas sobre trabalho voluntário, com modelos de documentos, legislação sobre o assunto e também contando um pouco sobre nós.</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{{ MEDIA_PREFIX }}/media/docs/guia-voluntariado-v1.pdf" class="btn btn-common" target="_blank">Download do guia</a>
                             </div>
                        </div>
                </div>
                <div class="row spaced-row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Cartilha sobre entidades</span></h1>
                            <p>Aqui você pode aprender um pouco mais sobre os diferentes tipos de entidades que existem bem como sua relação com o trabalho voluntário do ponto de vista jurídico. Este documento é voltado tanto a voluntários quanto a entidades.</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{{ MEDIA_PREFIX }}/media/docs/cartilha-entidades-v5.pdf" class="btn btn-common" target="_blank">Download da cartilha</a>
                             </div>
                        </div>
                </div>
                <div class="row spaced-row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Blog do Voluntários</span></h1>
                            <p>Postagens como foco exclusivo em voluntariado. Leia e participe!</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{% url 'blog' %}" class="btn btn-common" target="_blank">Blog</a>
                             </div>
                        </div>
                </div>
            </div>
   </section>
   <!--/#action-->

   <section id="testimonials" class="responsive">
       <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="testimonial bottom">
                      <h1 class="title">Depoimentos de entidades</h1>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="testimonial bottom">
                      <div class="media">
                          <div class="pull-left">
                          </div>
                          <div class="media-body">
                              <blockquote>Quero agradecer imensamente pelo apoio que estamos recebendo de vocês, isso com certeza será um divisor de águas para nosso trabalho por aqui.</blockquote>
                              <h3>- Emerson Albuquerque</h3>
                              <h3><a href="/entidade/10492">Instituto Abraçar</a></h3>
                          </div>
                      </div>
                      <div class="media">
                          <div class="pull-left">
                          </div>
                          <div class="media-body">
                              <blockquote>O site ajudou muito a encontrar profissionais dispostos a atuarem conosco.</blockquote>
                              <h3>- Duda</h3>
                              <h3><a href="/entidade/10294">Instituto Borboleta Azul</a></h3>
                          </div>
                      </div>   
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="testimonial bottom">
                      <div class="media">
                          <div class="pull-left">
                          </div>
                          <div class="media-body">
                              <blockquote>Tivemos a felicidade de, mesmo com pouco tempo de nossa inscrição na plataforma, termos retorno positivo de pessoas interessadas em colaborar com nosso trabalho.</blockquote>
                              <h3>- Leura Dalla Riva</h3>
                              <h3><a href="/entidade/10574">Ruptura</a></h3>
                          </div>
                      </div>   
                      <div class="media">
                          <div class="pull-left">
                          </div>
                          <div class="media-body">
                              <blockquote>Desde já agradeço a atenção e agradeço ao site por ter conseguido voluntários para nossa ONG! É muito rápido!</blockquote>
                              <h3>- Rita Magalhães</h3>
                              <h3><a href="/entidade/10336">Centro de Reabilitação Washington Luís Pinheiro Magalhães</a></h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
       </div>
   </section>
   <!--/#testimonials-->

{% endblock content_container %}
