{% extends "vol/base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% block title %}Campanha Seja um Voluntário{% endblock title %}

{% block content_container %}

    <section id="home">
        <div id="main-carousel" class="carousel slide" data-ride="carousel" data-pause="null"> 
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('{{ slide }}')">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8 text-center banner">
                                <h1>Seja um voluntário</h1>
                                <p>Você acaba de achar a melhor maneira de ser ou de encontrar voluntários, doadores e informações sobre o voluntariado no Brasil!</p> 
                                <a class="btn btn-common" href="{% url 'escolha_cadastro' %}" rel="nofollow">Faça seu cadastro</a> 
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </div>
                </div>
            </div><!--/.carousel-inner-->
        </div>
    </section><!--/#home-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'busca_entidades' %}"><img src="{% static 'images/home/busca-peq.png' %}" alt="busca"></a>
                        <a href="{% url 'busca_entidades' %}"><h2>Busca de Entidades</h2></a>
                        <p>Procure por entidades que podem precisar de voluntários. Utilize vários critérios na busca, como cidade, bairro e área de atuação.</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'busca_vagas' %}"><img src="{% static 'images/home/processos-peq.png' %}" alt="vagas"></a>
                        <a href="{% url 'busca_vagas' %}"><h2>Vagas disponíveis</h2></a>
                        <p>Veja os processos seletivos em aberto para vagas de trabalho voluntário e se inscreva.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'mapa_entidades' %}"><img src="{% static 'images/home/gmaps-brasil-peq.png' %}" alt="mapa"></a>
                        <a href="{% url 'mapa_entidades' %}"><h2>Mapa de Entidades</h2></a>
                        <p>Veja onde se localizam as entidades cadastradas no sistema. Digite um endereço para encontrar aquelas que estão mais próximas de você.</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center padding">
                    <div class="single-service">
                        <a href="{% url 'link_entidade_nova' %}" rel="nofollow"><img src="{% static 'images/home/cadastro-peq.png' %}" alt="cadastro"></a>
                        <a href="{% url 'link_entidade_nova' %}" rel="nofollow"><h2>Cadastro de Entidades</h2></a>
                        <p>Gestor, cadastre sua entidade aqui, aumentando a visibilidade da instituição para pessoas interessadas em ajudar.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action">
             <div class="container">
                <div class="row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Guia do voluntariado</span></h1>
                            <p>Preparamos um guia respondendo às principais dúvidas sobre trabalho voluntário, com modelos de documentos, legislação sobre o assunto e também contando um pouco sobre nós.</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{{ MEDIA_PREFIX }}/media/docs/guia-voluntariado-v1.pdf" class="btn btn-common" target="_blank">Download do guia</a>
                             </div>
                        </div>
                </div>
                <div class="row spaced-row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Cartilha sobre entidades</span></h1>
                            <p>Aqui você pode aprender um pouco mais sobre os diferentes tipos de entidades que existem bem como sua relação com o trabalho voluntário do ponto de vista jurídico. Este documento é voltado tanto a voluntários quanto a entidades.</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{{ MEDIA_PREFIX }}/media/docs/cartilha-entidades-v5.pdf" class="btn btn-common" target="_blank">Download da cartilha</a>
                             </div>
                        </div>
                </div>
                <div class="row spaced-row">
                        <div class="col-sm-7">
                            <h1 class="title"><span>Blog do Voluntários</span></h1>
                            <p>Postagens como foco exclusivo em voluntariado. Leia e participe!</p>
                        </div>
                        <div class="col-sm-5">
                            <div class="tour-button text-center">
                                <a href="{% url 'blog' %}" class="btn btn-common" target="_blank">Blog</a>
                             </div>
                        </div>
                </div>
            </div>
   </section>
   <!--/#action-->

   <section id="testimonials" class="responsive">
       <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="testimonial bottom">
                      <h1 class="title">Depoimentos</h1>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="testimonial bottom">
                      <div class="media">
                          <div class="pull-left">
                              <img src="{% static 'images/selfies/silvia.png' %}" alt="">
                          </div>
                          <div class="media-body">
                              <blockquote>Tenho uma história antiga com o <a href="http://www.arrastao.org.br" target="_blank">Projeto Arrastão</a>. No meu trabalho voluntário na instituição o objetivo sempre foi passar conhecimento, mas posso dizer que nessa empreitada eu mais aprendi do que ensinei.</blockquote>
                              <h3>- Silvia Gaspar de Souza</h3>
                          </div>
                      </div>
                      <div class="media">
                          <div class="pull-left">
                              <img src="{% static 'images/selfies/sueli.png' %}" alt="">
                          </div>
                          <div class="media-body">
                              <blockquote>Sou diretora de eventos da <a href="http://www.cresersp.org.br" target="_blank">CrêSer</a>, entidade beneficente com mais de 10 anos de existência. Sinto-me feliz em dobro em poder contribuir com as mais de 4 mil pessoas atendidas mensalmente em todos os projetos! Vale super a pena!</blockquote>
                              <h3>- Sueli Anita Puccinelli Geraldi</h3>
                          </div>
                      </div>   
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="testimonial bottom">
                      <div class="media">
                          <div class="pull-left">
                              <a href="http://www.sinhazinhameirelles.org.br" target="_blank"><img src="{% static 'images/misc/sinhazinha.png' %}" alt=""></a>
                          </div>
                          <div class="media-body">
                              <blockquote>O trabalho voluntário pode ser a oportunidade de desenvolver novas habilidades pessoais e profissionais. Proporciona a descoberta de novas amizades, propicia vivências de experiências diversas.</blockquote>
                              <a href="http://www.sinhazinhameirelles.org.br" target="_blank"><h3>- Centro Comunitário e Creche Sinhazinha Meirelles</h3></a>
                          </div>
                      </div>   
                      <div class="media">
                          <div class="pull-left">
                              <a href="http://www.gprimavera.org.br" target="_blank"><img src="{% static 'images/misc/primavera.png' %}" alt=""></a>
                          </div>
                          <div class="media-body">
                              <blockquote>Realizar um trabalho voluntário é levar para o seu dia a dia o prazer e a responsabilidade de agir por um bem maior. Foi com esse espírito de generosidade e doação voluntária, independente de instituições religiosas e governamentais, que o trabalho do Grupo Primavera cresceu e se firmou. Nos primeiros 12 anos o grupo funcionava exclusivamente sob a dedicação do trabalho das voluntárias e com a colaboração das meninas assistidas. Hoje, o GP possui sede própria e conta com uma equipe dinâmica e mista de voluntários e profissionais contratados.</blockquote>
                              <a href="http://www.gprimavera.org.br" target="_blank"><h3>- Grupo Primavera</h3></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
       </div>
   </section>
   <!--/#testimonials-->

{% endblock content_container %}
