{% extends "vol/base_entidade.html" %}
{% load static %}

{% block title %}Inscrições{% endblock title %}

{% block content %}

<h2 class="margin-bottom">Inscrições para {{ processo.titulo }}</h2>

{% include "vol/mensagens.html" %}

{% with num_inscricoes=inscricoes|length %}

{% if num_inscricoes > 0 and processo.aberto_a_inscricoes or processo.aguardando_selecao %}
<p>Para concluir o processo seletivo, será preciso classificar cada candidato inscrito. Você pode mudar a classificação quantas vezes desejar que o resultado só aparecerá para os voluntários após conclusão do processo seletivo.</p>
{% endif %}

{% if num_inscricoes > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <th>&nbsp;</th>
      <th>Nome</th>
      <th>Área de Trabalho/Profissão</th>
      <th>Endereço</th>
      <th>Idade</th>
      <th>Status</th>
    </thead>
  <tbody>
  {% for inscricao in inscricoes %}
  {% with telefone_competo=inscricao.voluntario.telefone_completo processo=inscricao.processo_seletivo %}
  <tr>
    <td><a href="mailto:{{ inscricao.voluntario.usuario.email }}"><i class="fas fa-envelope" title="contatar por e-mail"></i></a>{% if telefone_completo %} <a href="https://api.whatsapp.com/send?phone={{ telefone_completo }}" style="margin-left:5px;"><i class="fab fa-whatsapp" title="contatar por zap"></i></a>{% endif %}</td>
    <td><a href="{% url 'exibe_voluntario' inscricao.voluntario.id %}" rel="nofollow">{{ inscricao.voluntario.usuario.nome }}</td></a>
    <td>{{ inscricao.voluntario.area_trabalho.nome|default:"-" }}<br><span class="dica">{{ inscricao.voluntario.profissao }}</span></td>
    <td>{{ inscricao.voluntario.cidade }} - {{ inscricao.voluntario.estado }}</td>
    <td>{{ inscricao.voluntario.idade }} anos</td>
    <td>{% if processo.aberto_a_inscricoes or processo.aguardando_selecao and inscricao.passivel_de_selecao %}
      <select class="inscricao" name="{{ inscricao.id }}" prevIndex="{% if inscricao.selecionado %}1{% else %}{% if inscricao.nao_selecionado %}2{% else %}0{% endif %}{% endif %}">
	<option value="aguardando_selecao"{% if inscricao.agurdando_selecao %} selected{% endif %}>-- aguardando seleção --</option>
	<option value="selecionado"{% if inscricao.selecionado %}  selected{% endif %}>selecionado</option>
	<option value="nao_selecionado"{% if inscricao.nao_selecionado %}  selected{% endif %}>não selecionado</option>
      </select>
      <img id="{{ inscricao.id }}_icon" src="">
      {% else %}{{ inscricao.nome_status }}{% endif %}</td>
  {% endwith %}
  {% endfor %}
  </tbody>
  </table>
  </div>
{% else %}
  <h4>Nenhuma inscrição até o momento.</h4>
{% endif %}
{% endwith %}

{% if processo.aguardando_selecao and processo.inscricoes_encerradas or processo.limite_inscricoes is None %}
<form id="encerrar-selecao" method="POST">
{% csrf_token %}
<div class="form-group">
   <input id="btn-encerrar" class="btn btn-primary" type="submit" name="encerrar" value="Encerrar Seleção" style="display: none;">
</div>
</form>
{% endif %}
  
{% endblock content %}

{% block post_footer %}

<script type="text/javascript">

  {% if processo.aberto_a_inscricoes or processo.aguardando_selecao %}
  
    $(document).ready(function () {
    
      {% if processo.aguardando_selecao %}
      var $ja_avisou_usuario_sobre_encerramento = false;
      
      // Controle da exibição do botão de encerramento
      function controla_exibicao_do_botao_de_encerramento(primeiro_loop) {
          var $tem_pendencias = false;
          if ($("#btn-encerrar").length > 0) {
              $(".inscricao").each(function(index) {
                 if ($(this).val() === 'aguardando_selecao') {
                     $tem_pendencias = true;
                     return false; // interrompe loop
                 }
              });
              if ($tem_pendencias) {
                  $("#btn-encerrar").hide();
              } else {
                  $("#btn-encerrar").show();
                  if ($primeiro_loop) {
                      $ja_avisou_usuario_sobre_encerramento = true;
                  } else {
                      if (not $ja_avisou_usuario_sobre_encerramento) {
                          // Devemos melhorar a mensagem considerando os seguintes casos:
                          // houve pelo menos uma pessoa selecionada, ninguém foi selecionado,
                          // não houve inscrições
                          window.alert('Já é possível encerrar o processo seletivo utilizando o botão no final da página.');
                          $ja_avisou_usuario_sobre_encerramento = true;
                      }
                  }
              }
          }
      }
      {% endif %}
      
      // Combos de seleção
      $(".inscricao").change(function() {

        var id = this.name;
        var icon_id = "#" + id + "_icon";
        var prev_index = this.getAttribute("prevIndex");
        var combo = this;
        var token = '{{ csrf_token }}';
  
        $(icon_id).attr("src", "{% static 'images/ajax-loader-circle-small.gif' %}");
  
        $.ajax({
            url: "{% url 'classificar_inscricao' %}",
            method: "POST",
            headers: {"X-CSRFToken": token},
            data: {
              id: id,
              value: this.value,
            },
            success: function(response) {
              combo.setAttribute("prevIndex", this.selectedIndex);
              $(icon_id).attr("src", "{% static 'images/misc/icon-yes.svg' %}");
              $(icon_id).fadeOut(1000);
              {% if processo.aguardando_selecao %}
              controla_exibicao_do_botao_de_encerramento(false);
              {% endif %}
            },
            error: function(xhr, errmsg, err) {
              combo.selectedIndex = prev_index;
              $(icon_id).attr("src", "{% static 'images/misc/icon-deletelink.svg' %}");
              //$(icon_id).fadeOut(1000);
 
              console.log('Erro ao classificar inscrição: ', errmsg);
            }
        });
      });

      controla_exibicao_do_botao_de_encerramento(true);
    });

  {% endif %}
  
</script>

{% endblock post_footer %}
