{% extends "vol/base_entidade.html" %}

{% block title %}Inscrições{% endblock title %}

{% block content %}

<h2 class="margin-bottom">Inscrições para {{ processo.titulo }}</h2>

{% include "vol/mensagens.html" %}

{% if inscricoes|length > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <th>&nbsp;</th>
      <th>Nome</th>
      <th>Área de Trabalho/Profissão</th>
      <th>Endereço</th>
      <th>Idade</th>
      <th>Status</th>
    </thead>
  <tbody>
  {% for inscricao in inscricoes %}
  {% with telefone_competo=inscricao.voluntario.telefone_completo %}
  <tr>
    <td><a href="mailto:{{ inscricao.voluntario.usuario.email }}"><i class="fas fa-envelope" title="contatar por e-mail"></i></a>{% if telefone_completo %} <a href="https://api.whatsapp.com/send?phone={{ telefone_completo }}" style="margin-left:5px;"><i class="fab fa-whatsapp" title="contatar por zap"></i></a>{% endif %}</td>
    <td><a href="{% url 'exibe_voluntario' inscricao.voluntario.id %}" rel="nofollow">{{ inscricao.voluntario.usuario.nome }}</td></a>
    <td>{{ inscricao.voluntario.area_trabalho.nome|default:"-" }}<br><span class="dica">{{ inscricao.voluntario.profissao }}</span></td>
    <td>{{ inscricao.voluntario.cidade }} - {{ inscricao.voluntario.estado }}</td>
    <td>{{ inscricao.voluntario.idade }} anos</td>
    <td>{{ inscricao.nome_status }}</td>
  {% endwith %}
  {% endfor %}
  </tbody>
  </table>
  </div>
{% else %}
  <h4>Nenhuma inscrição até o momento.</h4>
{% endif %}

{% endblock content %}
