{% extends "vol/base.html" %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block content %}

<div class="faixa-com-textura">
  <h1 class="margin-bottom">Blog do Voluntários</h1>
</div>  

{% for postagem in postagemblog_list %}
<div class="card item-blog">
   <div class="card-body">
      <h2 class="card-title titulo-postagem{% if postagem.status == 0 %} text-danger{% endif %}">{{ postagem.titulo }}{% if postagem.status == 0 %} <i class="fas fa-pen dica" title="rascunho">...</i>{% endif %}</h2>
      <p class="card-text text-muted h6">{{ postagem.autor }} | {{ postagem.data_criacao }} </p>
      <p class="card-text">{{ postagem.texto|truncatewords_html:28|safe }}</p>
      <a href="{% url 'postagem_blog' postagem.slug  %}" class="btn btn-primary btn-sm">Leia mais &rarr;</a>
   </div>
</div>
{% endfor %}
<br>
<div class="paginacao">
   <!-- botão << -->
   {% if page_obj.number > 1 %} 
      <a href="?page=1">&lt;&lt;&nbsp;</a>
   {% endif %}

   <!-- botão < -->
   {% if page_obj.number > 5 %} 
      <a href="?page={{page_obj.number|add:-5}}">&lt;&nbsp;</a>
   {% endif %}

   <!-- números -->
   {% for p in page_obj.paginator.page_range %}
      {% if p  <=  page_obj.number|add:5 and p >= page_obj.number|add:-5 %}
         {% if p == page_obj.number %}
            <b>{{p}}&nbsp;</b>
         {% else %}
            <a href = "?page={{p}}" >{{p}}</a>&nbsp;
         {% endif %}
      {% endif %}
   {% endfor %}

   <!-- botão > -->
   {% if page_obj.number < page_obj.paginator.num_pages|add:-5 %}
      <a href="?page={{page_obj.number|add:5}}">&gt;&nbsp;</a>
   {% endif %}

   <!-- botão >> -->
   {% if page_obj.number < page_obj.paginator.num_pages %}
      <a href="?page={{page_obj.paginator.num_pages}}">&gt;&gt;&nbsp;</a>
   {% endif %}
   
</div>

{% endblock content %}
