{% extends "vol/base_nosidebar.html" %}
{% load static %}

{% block title %}Gerenciamento de Entidades{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Gerenciamento de Entidades</h1>

{% include "vol/mensagens.html" %}

{% if entidades|length > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
  <thead><th>Nome</th><th>CNPJ</th><th>e-mail</th><th>confirmado</th><th>situação do cadastro</th><th>&nbsp;</th></thead>
  <tbody>
  {% for entidade in entidades %}
  <tr>
    <td>
      <a href="{% url 'index_entidade' entidade.id %}">{{ entidade.nome_fantasia|default:entidade.razao_social }}</a>
    </td>
    <td>{{ entidade.cnpj|default:"-" }}</td>
    <td>{{ entidade.email_principal|default:"-" }}</td>
    <td>{% if entidade.email_principal_confirmado %}<img src="{% static 'images/misc/icon-yes.svg' %}" title="sim"/>{% else %}<img src="{% static 'images/misc/icon-deletelink.svg' %}" title="não"/>&nbsp;<a href="{% url 'reenvia_confirmacao_email_entidade' entidade.id %}" class="btn btn-primary btn-sm">reenviar</a>{% endif %}</td>
    <td>{% if entidade.aprovado == None %}<img src="{% static 'images/misc/icon-unknown.svg' %}" title="aguardando revisão"/>{% else %}{% if entidade.aprovado %}<img src="{% static 'images/misc/icon-yes.svg' %}" title="aprovado"/>{% else %}<img src="{% static 'images/misc/icon-deletelink.svg' %}" title="rejeitado"/>{% endif %}{% endif %}</td>
    <td>{% if entidade.aprovado %}<a href="{% url 'exibe_entidade' entidade.id %}"><i class="fas fa-eye" title="visualizar página"></i></a>{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

{% else %}
  <h2>Nenhuma entidade cadastrada.</h2>
{% endif %}

<a href="{% url 'cadastro_entidade' %}?nova" class="btn btn-primary">Cadastrar nova entidade</a>
<a href="{% url 'busca_entidades' %}" class="btn btn-primary">Vincular-se a entidade já cadastrada</a>

{% endblock content %}
