{% extends "vol/base_admin.html" %}

{% block title %}Processos seletivos{% endblock title %}

{% block content %}

<h2 class="margin-bottom">Processos seletivos cadastrados</h2>

{% include "vol/mensagens.html" %}

{% if processos|length > 0 or 'status' in request.GET %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th style="vertical-align: top;">Título/Entidade</th>
        <th style="vertical-align: top;">Modo</th>
        <th style="vertical-align: top;">
	  Status<br/>
	  <select id="status" name="status" class="dica">
	    <option value="todos"{% if request.GET.status == 'todos' or not request.GET.status %} selected{% endif %}>todos</option>
            {% for cod, nome in opcoes_status.items %}
	    <option value="{{ cod }}"{% if request.GET.status == cod|stringformat:"i" %} selected{% endif %}>{{ nome }}</option>
	    {% endfor %}
	  </select>
        </th>
        <th style="vertical-align: top;">Inscrições</th>
        <th style="vertical-align: top;">Visualizações</th>
        <th style="vertical-align: top;">Convites</th>
        <th style="vertical-align: top;">Inscritos</th>
        <th style="vertical-align: top;">Selecionados</th>
        <th style="vertical-align: top;">Não selecionados</th>
      </tr>
    </thead>
  <tbody>
  {% for processo in processos %}
  {% with num_inscricoes_validas=processo.inscricoes_validas.count %}
  <tr>
    <td><a href="mailto:{{ processo.cadastrado_por.email }}"><i class="fas fa-envelope" title="Enviar e-mail para {{ processo.cadastrado_por.nome }}"></i></a></td>
    <td>{% if processo.aberto_a_inscricoes %}<a href="{% url 'exibe_processo_seletivo' codigo_processo=processo.codigo %}">{{ processo.titulo }}</a>{% else %}{{ processo.titulo }}{% endif %}<br/>
        <a href="{% url 'exibe_entidade' id_entidade=processo.entidade_id %}">{{ processo.entidade.menor_nome }}</a><br/><i class="fas fa-eye dica" title="último acesso à página de gerenciamento dos processos seletivos" style="color: grey"> {{ processo.entidade.ultimo_acesso_proc|date:'SHORT_DATETIME_FORMAT'|default:'-' }}</i></td>
    <td>{{ processo.nome_modo_trabalho }}{% if processo.estado or processo.cidade %}<br/>{{ processo.cidade.nome }}-{{ processo.estado.sigla }}{% endif %}</td>
    <td{% if processo.aberto_a_inscricoes %} style="font-weight: 400;"{% else %}{% if processo.cancelado %} style="text-decoration: line-through;"{% endif %}{% endif %}>{% if processo.concluido %}[{{ processo.nome_status }}]{% else %}{{ processo.nome_status }}{% endif %}{% if processo.aguardando_selecao %}...{% endif %}</td>
    <td>{{ processo.inicio_inscricoes|date:"SHORT_DATE_FORMAT" }}{% if processo.limite_inscricoes %} a <span{% if processo.dias_para_encerramento_inscricoes < 15 %} style="font-weight: 400;"{% endif %}>{{ processo.limite_inscricoes|date:"SHORT_DATE_FORMAT" }}<span>{% else %} sem limite{% endif %}</td>
    <td>{{ processo.qtde_visualiza }}</td>
    <td>{{ processo.convites }}</td>
    <td>
      {% if num_inscricoes_validas > 0 %}
        <a href="{% url 'monitoramento_inscricoes_processo_seletivo' codigo_processo=processo.codigo %}">{{ num_inscricoes_validas }}</a>
	{% if processo.entidade.ultimo_acesso_proc.date < processo.ultima_inscricao.date %}
	  <i class="fas fa-eye-slash dica" title="tem inscrição que ainda não foi vista{% if processo.entidade.ultimo_aviso_de_novas_inscricoes > processo.ultima_inscricao %} e já houve aviso{% endif %}" style="color: {% if processo.entidade.ultimo_aviso_de_novas_inscricoes > processo.ultima_inscricao %}darkred{% else %}grey{% endif %}">
        {% endif %}
      {% else %}
        {% if processo.aberto_a_inscricoes %}
          <b{% if not processo.ultima_notificacao_sobre_ausencia_de_inscricoes %} style="color: darkred;"{% endif %}>0</b>
        {% else %}
          0
        {% endif %}
      {% endif %}
    </td>
    <td>{{ processo.selecionados.count }}</td>
    <td>{{ processo.nao_selecionados.count }}</td>
  </tr>
  {% endwith %}
  {% endfor %}
  </tbody>
  </table>
  </div>
{% else %}
  <h4>Nenhum processo seletivo cadastrado.</h4>
{% endif %}

{% endblock content %}

{% block post_footer %}

  <script type="text/javascript">

    document.getElementById('status').onchange = function() {
        window.location = "{% url 'monitoramento_processos_seletivos' %}?status=" + this.value;
    };

  </script>

{% endblock post_footer %}
