{% extends "vol/base_admin.html" %}
{% load static %}

{% block title %}Onboarding{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Recepção de entidade</h1>

{% include "vol/mensagens.html" %}

<h2 class="nome-entidade"><a class="link-externo" href="{% url 'exibe_entidade' entidade.id %}" target="_blank"><span>{{ entidade.nome_fantasia|default:entidade.razao_social }}</span></a></h2>

{% with status=entidade.onboarding_status %}
<div class="registro">
  <p><label>Situação:</label> {{ entidade.nome_onboarding_status }}</p>

{% if entidade.data_envio_onboarding is None and entidade.resp_onboarding == request.user %}
<form method="POST" action="">
  {% csrf_token %}
  {% include "vol/campo_formulario.html" with campo=form.assunto %}
  {% include "vol/campo_formulario.html" with campo=form.mensagem %}
  {% include "vol/campo_formulario.html" with campo=form.assinatura %}

  <input class="btn btn-primary" type="submit" name="gravar" value="Gravar para continuar depois">
  <input class="btn btn-primary" type="submit" name="enviar" value="Enviar">
</form>
{% else %}
  <p><label>Mensagem de boas-vindas</label></p>
  {% if entidade.data_envio_onboarding %}<p><label>Enviada inicialmente em: </label> {{ entidade.data_envio_onboarding|date:"d-m-Y" }} <br/><span class="dica">(n&deg; de envios: {{ entidade.total_envios_onboarding }})</span></p>{% endif %}
  <p><label>Assunto: </label> {{ entidade.assunto_msg_onboarding }}</p>
{% comment %}Manter o conteúdo do pre como está, senão vão aparecem espaços na hora de exibir o conteúdo{% endcomment %}
<pre>{{ entidade.msg_onboarding|default:"(em branco)" }}
{{ entidade.assinatura_onboarding|default:"" }}
Equipe de Apoio
voluntarios.com.br
protocolo: oe-{{ entidade.id }}
</pre>
<table style="border: solid 1px #CCCCCC; font-family: Arial, sans-serif; color: #2c3e50;">
  <tr>
    <td style="padding: 20px;"><img src="{% static 'images/logo.png' %}" alt="Site Voluntários"></td><td style="background-color: #FFC90E; color: #FFFFFF; padding: 10px;"><span style="font-size: 18pt;">{{  entidade.assinatura_onboarding|default:"" }}</span><br><span style="font-size: 15pt;">Equipe de Apoio</span><br><span style="font-size: 15pt; color: #2c3e50;">marketing@voluntarios.com.br</span></td>
  </tr>
</table>
  {% if entidade.resp_onboarding == request.user %}
    {% if status == 4 or status == 5 %}
      {% if entidade.total_envios_onboarding < 3 and not entidade.data_visualiza_onboarding %}<form method="POST" action="{% url 'onboarding_entidade' entidade.id %}">{% csrf_token %}<input class="btn btn-primary" type="submit" name="reenviar" value="reenviar"></form>{% endif %}
    {% endif %}
  {% endif %}
{% endif %}
</div>
{% endwith %}

{% endblock content %}
