<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>

<body style="font-size: 12pt; font-family: Arial, sans-serif; color: #2c3e50;">

{{ mensagem|linebreaks }}

<table style="border: solid 1px #CCCCCC;">
  <tr>
    <td style="padding: 20px;"><a href="https://voluntarios.com.br"><img src="{{ link_logo }}" alt="Site Voluntários"></a></td><td style="background-color: #FFC90E; color: #FFFFFF; padding: 10px;"><span style="font-size: 18pt;">{{ assinatura }}</span><br><span style="font-size: 15pt;">Equipe de Apoio</span><br><span style="font-size: 15pt;">marketing@voluntarios.com.br</span></td>
  </tr>
</table>
  
</body>

</html>
