    {% if qs.paginator.num_pages > 1 %}
    <br>
    <div>
      <span>
      {% comment %}
      O widget de paginação funciona como um visor que ajuda a navegar pelas páginas. Um resultado
      com 21 páginas e um paginador configurado para exibir 5 páginas apareceria da seguinte forma
      se ele iniciar na página 6:
                        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
                           <<  <  6 7 8 9 10 > >>
                            |  |             |  |
              vai p/ p.1<---+  +->p.5  p.11<-+  +--->vai p/ p.21
      Ou seja:
      "<<": sempre volta para a primeira página. Só faz sentido exibir qdo o paginador iniciar de 3 em diante.
      "<": vai para a página imediatamente anterior. Só faz sentido exibir qdo o paginador iniciar de 2 em diante.
      ">": vai para a página imediatamente posterior. Só faz sentido exibir qdo faltar pelo menos 1 página no fim.
      ">>": sempre vai para a última página. Só faz sentido exibir qdo faltar exibir mais de 2 páginas no fim.
      {% endcomment %}

      {% with pagina_inicial=grupo_paginas_atual.start_index pagina_final=grupo_paginas_atual.end_index %}
      {% if pagina_inicial > 2 %}<a href="?pp=1&amp;page=1&amp;{{ parametros }}">&lt;&lt;</a>&nbsp;&nbsp;{% endif %}
      {% if pagina_inicial > 1 %}<a href="?pp={{grupo_paginas_atual.previous_page_number}}&amp;page={{ pagina_inicial|add:-1 }}&amp;{{ parametros }}" rel="nofollow">&lt;</a>&nbsp;{% endif %}&nbsp;
      {% for p in grupo_paginas_atual.object_list %}
          {% if p == qs.number %}<b>{{p}}</b>{% comment %}página atual, não precisa de link{% endcomment %}
          {% else %}<a href="?pp={{ grupo_paginas_atual.number}}&amp;page={{ p }}&amp;{{ parametros }}" rel="nofollow">{{p}}</a>{% endif %}&nbsp;
      {% endfor %}
      {% if pagina_final < qs.paginator.num_pages %}&nbsp;<a href="?pp={{grupo_paginas_atual.next_page_number}}&amp;page={{ pagina_final|add:1 }}&amp;{{ parametros }}" rel="nofollow">&gt;</a>{% endif %}
      {% if pagina_final < qs.paginator.num_pages|add:-1 %}&nbsp;&nbsp;<a href="?pp={{ grupo_paginas_atual.paginator.num_pages}}&amp;page={{ qs.paginator.num_pages }}&amp;{{ parametros }}" rel="nofollow">&gt;&gt;</a>{% endif %}
      {% endwith %}
      </span>
    </div>
    {% endif %}
