{% extends "vol/base_admin.html" %}
{% load l10n %}
{% block title %}Revisão de voluntários{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Panorama atual</h1>

<h2>Voluntários</h2>
<hr style="margin:0;"/>

<h3>Aguardando revisão: <span style="margin-left:15px;">{% if total_vol %}<a href="{% url 'aprovacao_voluntarios' %}">{{ total_vol }}</a>{% else %}{{ total_vol }}{% endif %}</span></h3>

<h3>Tempo que os voluntários precisam aguardar até a aprovação do cadastro:</h3>
<p class="dica" style="font-weight: 300;">Nosso esforço é manter este número abaixo de 24h</p>
<ul style="list-style-type: disc;">
  <li><h3>Média histórica<span class="dica"><sup>[1]</sup></span>: <span style="margin-left:15px;">{{ tempo_vol }}h</span></h3></li>

  <li><h3>Média dos últimos 7 dias: <span style="margin-left:15px;">{% if tempo_vol_recente %}{{ tempo_vol_recente }}h{% else %}-{% endif %}</span></h3></li>

  <li><h3>Máximo nos últimos 7 dias: <span style="margin-left:15px;">{% if tempo_vol_max_recente %}{{ tempo_vol_max_recente }}h{% else %}-{% endif %}</span></h3></li>
</ul>

<h3>Cadastros revisados hoje: <span style="margin-left:15px;">{{ total_vol_dia }}</span></h3>
<span class="dica">[<a href="{% url 'panorama_revisao_voluntarios' %}">dinâmica de trabalho nos últimos dias</a>]</span>

<br/>
<br/>

<h2>Entidades</h2>
<hr style="margin:0;"/>

<h3>Aguardando revisão: <span style="margin-left:15px;">{% if total_ents and perms.vol.entidadeaguardandoaprovacao %}<a href="{% url 'revisao_entidades' %}">{{ total_ents }}</a>{% else %}{{ total_ents }}{% endif %}</span></h3>

<br/>

<h2>Histórico pessoal de atividades</h2>
<hr style="margin:0;"/>

<h3>Voluntários revisados <span class="dica"><sup>[1]</sup></span>: <span style="margin-left:15px;">{{ total_vol_pessoal }}</span></h3>

{% if indice_revisao_vol_pessoal > 0.001 %}
<h3>Participação na revisão de voluntários <span class="dica"><sup>[2]</sup></span>: <span style="margin-left:15px;">{{ indice_revisao_vol_pessoal|floatformat:3 }}%</span></h3>
{% endif %}

<h3>E-mails descobertos de entidades: <span style="margin-left:15px;">{{ total_emails_descobertos }}</span></h3>

{% for tarefa in tarefas %}
  <br/>

  <h2>Força tarefa: {% if tarefa.progresso < 100 %}<a href="{% url 'exibe_tarefa' tarefa.codigo %}" target="_blank">{{ tarefa.tarefa }}</a>{% else %}{{ tarefa.tarefa }}{% endif %} (progresso: {{ tarefa.progresso }}%)</h2>
  <hr style="margin:0;"/>
  {% localize off %}
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ tarefa.progresso }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ tarefa.progresso }}%">
      <span class="sr-only">{{ tarefa.progresso }}% alcançado</span>
    </div>
  </div>
  <h3>Início em: <span style="margin-left:15px;">{{ tarefa.data_cadastro|date:"j \d\e F \d\e Y" }}</span></h3>
  {% if tarefa.previsao_termino %}<h3>Previsão de término no ritmo atual: <span style="margin-left:15px;">{{ tarefa.previsao_termino|date:"j \d\e F \d\e Y" }}</span></h3>{% endif %}
  {% endlocalize %}
{% endfor %}

<br/>
<p class="dica" style="font-weight: 300;">[1] cálculo a partir de 23/05/2020.</p>
<p class="dica" style="font-weight: 300;">[2] considerando todos voluntários já revisados desde a data da sua primeira revisão.</p>

{% endblock content %}
