{% extends "vol/base_admin.html" %}
{% load l10n %}
{% block title %}Revisão de voluntários{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Dinâmica de trabalho nos últimos {{ days|length }} dias</h1>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
	<td style="width:70px;margin-right:5px;">&nbsp;</td>
	{% for hour in hours %}
	<th style="width:{% if hour < 8 %}20{% else %}{% if hour > 19 %}25{% else %}30{% endif %}{% endif %}px;font-weight: {% if hour in main_hours %}bold{% else %}normal{% endif %};">{{ hour }}h</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for day, info in days.items %}
      <tr{% if info.date|date:"w" in "06" %} style="background-color:#eee;"{% endif %}>
	<td class="nowrap"{% if forloop.last %} style="border-bottom: 1px solid #ddd;"{% endif %}>{{ info.date|date:"D d M" }}</td>
	{% for hour, qty in info.hours.items %}
	<td style="background-color:{% if qty > 2 %}black{% else %}{% if qty > 2 %}grey{% else %}white{% endif %}{% endif %};{% if hour in main_hours %}border-left: 1px dashed #ccc;{% else %}border-left: 1px solid #eee;{% endif %}{% if forloop.parentloop.last %}border-bottom: 1px solid #ddd;{% endif %}{% if forloop.last %}border-right: 1px solid #ddd;{% endif %}">&nbsp;</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
