{% extends "vol/base_entidade.html" %}
{% load static %}

{% block title %}Processos seletivos{% endblock title %}

{% block head %}
<style type='text/css'>
/* Cores em função do status do processo */
td[status="aberto"] { color: green; }
td[status="cancelado"] { color: red; }
td[status="concluido"] { color: black; }
</style>

{% endblock head %}

{% block content %}

<h2 class="margin-bottom">Gerenciamento de processos seletivos</h2>

{% include "vol/mensagens.html" %}

{% if processos|length > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
  <thead><th>Título da vaga</th><th>Status</th><th>Inscrições</th><th>Inscritos</th></thead>
  <tbody>
  {% for processo in processos %}
  <tr>
    <td><a href="{% url 'editar_processo_seletivo' id_entidade=processo.entidade_id codigo_processo=processo.codigo %}" title="{% if processo.editavel or processo.passivel_de_antecipar_inscricoes or processo.passivel_de_estender_inscricoes %}alterar / visualizar{% else %}visualizar{% endif %} vaga"><i class="fas fa-{% if processo.editavel or processo.passivel_de_antecipar_inscricoes or processo.passivel_de_estender_inscricoes %}edit{% else %}eye{% endif %}"></i></a> {{ processo.titulo }}</td>
    <td status="{% if processo.aberto_a_inscricoes %}aberto{% elif processo.cancelado %}cancelado{% elif processo.concluido %}concluido{% endif %}">{{ processo.nome_status }}{% if processo.em_elaboracao %} <img src="{% static 'images/misc/icon-unknown.svg' %}" title="Para dar andamento, edite o processo e clique em solicitar aprovação"/>{% elif processo.aguardando_selecao %} <img src="{% static 'images/misc/icon-unknown.svg' %}" title="Para encerrar o processo, termine a seleção de candidatos"/>{% endif %}</td>
    <td status="{% if processo.aberto_a_inscricoes %}aberto{% elif processo.cancelado %}cancelado{% elif processo.concluido %}concluido{% endif %}">{{ processo.inicio_inscricoes|date:"SHORT_DATE_FORMAT" }}{% if processo.limite_inscricoes %} a {{ processo.limite_inscricoes|date:"SHORT_DATE_FORMAT" }}{% else %} sem data limite{% endif %}</td>
    <td>{% if processo.num_inscricoes > 0 %}<a href="{% url 'inscricoes_processo_seletivo' id_entidade=processo.entidade.pk codigo_processo=processo.codigo %}">{{ processo.num_inscricoes }}</a>&nbsp;<a href="{% url 'inscricoes_processo_seletivo' id_entidade=processo.entidade.pk codigo_processo=processo.codigo %}" class="btn btn-default btn-sm" style="margin-left:5px;">Ver</a>{% else %}{{ processo.num_inscricoes }}{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% else %}
  <h4>Nenhum processo seletivo cadastrado.</h4>
{% endif %}

<a href="{% url 'novo_processo_seletivo' entidade.id %}" class="btn btn-primary">Novo processo seletivo</a>

{% endblock content %}
