{% extends "vol/base_voluntario.html" %}
{% load static %}

{% block title %}Termos de Adesão{% endblock title %}

{% block content %}

<h1 class="margin-bottom">Termos de adesão</h1>

{% include "vol/mensagens.html" %}

{% if termos|length > 0 %}
  <div class="table-responsive">
  <table class="table table-striped table-condensed">
  <thead><th>Entidade</th><th>início</th><th>fim</th><th>&nbsp;</th><th>&nbsp;</th></thead>
  <tbody>
  {% for termo in termos %}
  <tr>
    <td>{{ termo.nome_entidade }} <a href="mailto:{{ termo.entidade.email_principal }}" style="margin-left: 10px;"><i class="fas fa-envelope" title="contactar"></i></a></td>
    <td>{{ termo.data_inicio|date:"d-m-Y" }}</td>
    <td{% if termo.data_fim and termo.data_fim < hoje %} class="text-danger"{% endif %}>{{ termo.data_fim|date:"d-m-Y"|default:"-" }}</td>
    <td><a href="{% url 'termo_de_adesao' slug_termo=termo.slug %}?contexto=voluntario">{% if termo.data_aceitacao_vol %}<i class="fas fa-eye" title="visualizar"></i>{% else %}<i class="fas fa-file-signature" title="assinar"></i>{% endif %}</a></td>
    <td>
      {% if termo.data_aceitacao_vol %}
        {% if termo.data_rescisao %}
          <span class="text-danger">rescindido</span> <img src="{% static 'images/misc/icon-unknown.svg' %}" title="motivo: {{ termo.motivo_rescisao }}"/>
        {% else %}
          {% if termo.data_fim is None or termo.data_fim >= hoje %}
            {% comment %}Se já foi aceito, não foi rescindido e ainda está válido, pode ser rescindido{% endcomment %}
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirm-terminate" data-termo="{{ termo.slug }}">rescindir</button>
          {% else %}
            <span>expirado</span>
          {% endif %}
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

  <div class="modal" id="confirm-terminate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <form id="terminate-form" action="{% comment %}link gerado dinamicamente pelo on show.bs.modal{% endcomment %}" method="POST">
          {% csrf_token %}
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Rescisão de termo de adesão</h4>
          </div>
            
          <div class="modal-body">
            <p>Informe o motivo da rescisão:</p>
	    <textarea class="form-control" name="motivo" rows="4" cols="50"></textarea>
          </div>
                
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
              <input class="btn btn-danger btn-ok" type="submit" name="terminate" value="Rescindir">
          </div>
          </form>
       </div>
    </div>
  </div>
  
{% else %}

<p>Ao realizar trabalho voluntário numa entidade cadastrada no site, se ela emitir o termo de adesão através do site você poderá acessá-lo aqui, tanto para assinar quanto para visualizar.</p>

{% endif %}

{% endblock content %}

{% block post_footer %}

<script type="text/javascript">
  
$('#confirm-terminate').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // botão que ativou o modal
    var slug = button.data('termo'); // conteúdo do atributo data-termo
    // coloca link no action do form
    var modal = $(this);
    modal.find('#terminate-form').attr('action', '/termo/' + slug + '/rescindir');
})

</script>

{% endblock post_footer %}
