{% extends "vol/base_nosidebar.html" %}

{% block content %}

<div class="text-center">

<h1>Operação não realizada</h1>

<p>Detectamos um possível problema na requisição e a operação foi cancelada por medida de segurança. Para evitar este erro será necessário tentar novamente. Talvez seja necessário fechar o seu navegador, ou então limpar os cookies, antes de tentar outra vez. Se precisar de ajuda entre em contato conosco no endereço de e-mail ao final da página.</p>

<p>Motivo do erro: Este site possui uma rotina de segurança contra um ataque conhecido por "falsificação de solicitação entre sites". Entretanto, algumas situações pouco usuais, porém legítimas de usar o site, podem ser interpretadas como esse tipo de ataque. Isto pode ocorrer, por exemplo, se você tentar submeter determinados formulários que tenham sido gerados antes de você fazer login no site. Normalmente isso acontece com usuários que tem o hábito de abrir várias abas no navegador, podendo cada uma delas estar vinculada a diferentes sessões de login. Para se livrar deste erro é bem provável que seja necessário fechar o navegador para limpar os cookies e depois tentar novamente. De qualquer forma nossa equipe de suporte já foi automaticamente notificada sobre o ocorrido.</p>

<div>

{% endblock %}
