{% extends "vol/base_nosidebar.html" %}

{% block content %}

<div class="text-center">

<h1>Operação não realizada</h1>

<p>Detectamos um possível problema na requisição e a operação foi cancelada por medida de segurança. Note que existem algumas situações de uso legítimo do site que também podem ocasionar este erro, todas elas relacionadas a uma tentativa de submeter um formulário que tenha sido gerado antes de você ter feito o login atual no site. Exemplo: você deixa um formulário aberto antes de fazer login, depois numa outra aba você faz login e em seguida volta para o primeiro formulário e tenta submetê-lo. Outras situacões semelhantes podem ter este mesmo efeito. Se você se enquadra em algum destes casos pouco usuais, infelizmente será necessário carregar um novo formulário e tentar novamente. Se precisar de ajuda entre em contato conosco.</p>
<p>De qualquer forma nossa equipe de suporte já foi automaticamente notificada sobre o ocorrido.</p>

<div>

{% endblock %}
